* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
	background-color: #000;
	height: 100vh;
}
span {
	position: absolute;
	width: 100px;
	height: 100px;
	background-image: url('../img/heart.png');
	background-position: center;
	background-size: cover;
	pointer-events: none;
	transform: translate(-50%, -50%);
	animation: animate 2s linear infinite;
}
@keyframes animate {
	0% {
		transform: translate(-50%, -50%);
		opacity: 1;
		filter: hue-rotate(0);
	}
	100% {
		transform: translate(-50%, -1000%);
		opacity: 0;
		filter: hue-rotate(720deg);
	}
}